<h2>Nature</h2>
<p>O "Yelp Reviews" é um serviço online popular que permite aos usuários compartilharem avaliações e opiniões sobre empresas locais, incluindo restaurantes, lojas, serviços profissionais, entre outros. O Yelp é uma plataforma que permite que as pessoas escrevam críticas, classifiquem e forneçam feedback sobre suas experiências com empresas e estabelecimentos.
    Os usuários do Yelp podem criar perfis e deixar avaliações detalhadas sobre os locais que visitaram, compartilhando suas opiniões sobre a qualidade dos produtos, o atendimento ao cliente, o ambiente, os preços e outros aspectos relevantes. As avaliações são classificadas em uma escala de cinco estrelas, permitindo que os usuários atribuam uma classificação numérica às empresas. </p>
<img src="https://s2.glbimg.com/bGNljVTtWba-Xlm9T0JxmhONKqg=/620x455/e.glbimg.com/og/ed/f/original/2020/06/28/rio-em-meio-as-pedras-170721_joao_machado_e_arasi-87.jpg"
 class="img-responsive"
/>
<p>Author: test&#64;test.com</p>
<p>Date: 19/03/2024</p>
<button>Edit</button> | <button>Delete</button>